node-red-config.json
[
  {
    "id": "5f0a96dd.f386b8",
    "type": "tab",
    "label": "Lecnet",
    "disabled": false,
    "info": ""
  },
  {
    "id": "ade042f2.45d98",
    "type": "knx-in",
    "z": "5f0a96dd.f386b8",
    "name": "Read from KNX",
    "controller": "806e4eb3.125fb",
    "x": 220,
    "y": 760,
    "wires": [
      [
        "3b65ac50.333484"
      ]
    ]
  },
  {
    "id": "da061194.cb0b3",
    "type": "function",
    "z": "5f0a96dd.f386b8",
    "name": "Transform volume, source and destination and set topic",
    "func": "msg.topic = msg.payload.dstgad\n\nvar x = msg.payload.value;\n\n// This converts from 0-255 to -70-0 and performs some manipulation to the curve\ny = 23.35507 + (-69.99784 - 23.35507)/(1 + Math.pow(x/85.31654,1.010251)) // Magic numbers!\n\nmsg.vol = Math.floor(y);\n\nswitch(msg.payload.dstgad.split('/')[0]){\n    case '1':\n        msg.dst = [];\n        break;\n    case '2':\n        msg.dst = [];\n        break;\n    case '3':\n        msg.dst = ['14'];\n        break;\n    case '4':\n        msg.dst = ['6'];\n        break;\n    case '5':\n        msg.dst = ['5'];\n        break;\n    case '6':\n        msg.dst = ['7'];\n        break;\n    case '7':\n        msg.dst = ['8'];\n        break;\n    case '8':\n        msg.dst = ['10'];\n        break;\n    case '9':\n        msg.dst = ['3','4','9','12'];\n        break;\n    case '10':\n        msg.dst = [];\n        break;\n    case '11':\n        msg.dst = ['11'];\n        break;\n    case '12':\n        msg.dst = ['2'];\n        break;\n    case '13':\n        msg.dst = ['13'];\n        break;\n    case '14':\n        msg.dst = [];\n        break;\n    case '15':\n        msg.dst = [];\n        break;\n    case '16':\n        msg.dst = ['1'];\n        break;\n    case '17':\n        msg.dst = [];\n        break;\n    case '18':\n        msg.dst = [];\n        break;\n}\n\nswitch(msg.payload.dstgad.split('/')[2]){\n    case '1':\n        msg.src = ['1', '2'];\n        break;\n    case '2':\n        msg.src = ['3'];\n        break;\n}\n\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 990,
    "y": 760,
    "wires": [
      [
        "6a5f00ae.33c44"
      ]
    ]
  },
  {
    "id": "f76d8c71.ec8e2",
    "type": "mqtt out",
    "z": "5f0a96dd.f386b8",
    "name": "Publish to mqtt",
    "topic": "lecnet",
    "qos": "0",
    "retain": "",
    "broker": "bf7c555a.21e798",
    "x": 1480,
    "y": 980,
    "wires": []
  },
  {
    "id": "6a5f00ae.33c44",
    "type": "file in",
    "z": "5f0a96dd.f386b8",
    "name": "Load default state",
    "filename": "test2.txt",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "x": 1370,
    "y": 760,
    "wires": [
      [
        "65d03409.b3e68c"
      ]
    ]
  },
  {
    "id": "65d03409.b3e68c",
    "type": "json",
    "z": "5f0a96dd.f386b8",
    "name": "Convert last state to json",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 1610,
    "y": 760,
    "wires": [
      [
        "dc3becad.e12ef"
      ]
    ]
  },
  {
    "id": "3b65ac50.333484",
    "type": "switch",
    "z": "5f0a96dd.f386b8",
    "name": "Check if knx dst is */5/*",
    "property": "payload.dstgad",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "/5/",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 620,
    "y": 760,
    "wires": [
      [
        "da061194.cb0b3"
      ]
    ]
  },
  {
    "id": "dc3becad.e12ef",
    "type": "function",
    "z": "5f0a96dd.f386b8",
    "name": "Convert state to new payload",
    "func": "var newPayload = {};\nfor(let input of msg.src) {\n    for(let output of msg.dst){\n        msg.payload[input][output] = msg.vol;\n    }\n    newPayload[input] = msg.payload[input];\n}\nmsg.mqttPayload = newPayload;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 720,
    "y": 860,
    "wires": [
      [
        "dcfad66d.eaf628"
      ]
    ]
  },
  {
    "id": "cb25370e.9e74c8",
    "type": "change",
    "z": "5f0a96dd.f386b8",
    "name": "Move mqttPayload to payload",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "mqttPayload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1170,
    "y": 980,
    "wires": [
      [
        "f76d8c71.ec8e2",
        "ca46fdfd.c461d"
      ]
    ]
  },
  {
    "id": "dcfad66d.eaf628",
    "type": "trigger",
    "z": "5f0a96dd.f386b8",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "payl",
    "duration": "500",
    "extend": false,
    "units": "ms",
    "reset": "msg.payload",
    "bytopic": "topic",
    "name": "Rate limit",
    "x": 980,
    "y": 860,
    "wires": [
      [
        "822084.e8314f8"
      ]
    ]
  },
  {
    "id": "ca46fdfd.c461d",
    "type": "file",
    "z": "5f0a96dd.f386b8",
    "name": "Save payload",
    "filename": "last_payload.txt",
    "appendNewline": false,
    "createDir": false,
    "overwriteFile": "true",
    "x": 1480,
    "y": 1040,
    "wires": []
  },
  {
    "id": "822084.e8314f8",
    "type": "file in",
    "z": "5f0a96dd.f386b8",
    "name": "Load last payload",
    "filename": "last_payload.txt",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "x": 1270,
    "y": 860,
    "wires": [
      [
        "e2e762e7.38382"
      ]
    ]
  },
  {
    "id": "7efcc601.49dd08",
    "type": "function",
    "z": "5f0a96dd.f386b8",
    "name": "Check if new and latest payload match, if so do nothing",
    "func": "if(msg.payload == msg.mqttPayload) {\n    return null;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 800,
    "y": 980,
    "wires": [
      [
        "cb25370e.9e74c8"
      ]
    ]
  },
  {
    "id": "e2e762e7.38382",
    "type": "json",
    "z": "5f0a96dd.f386b8",
    "name": "Convert new payload to JSON String",
    "property": "mqttPayload",
    "action": "str",
    "pretty": false,
    "x": 1550,
    "y": 860,
    "wires": [
      [
        "7efcc601.49dd08"
      ]
    ]
  },
  {
    "id": "1b58a004.fab2",
    "type": "inject",
    "z": "5f0a96dd.f386b8",
    "name": "Empty last payload",
    "topic": "",
    "payload": "{}",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 230,
    "y": 400,
    "wires": [
      [
        "d602b87c.65bcc8"
      ]
    ]
  },
  {
    "id": "d602b87c.65bcc8",
    "type": "file",
    "z": "5f0a96dd.f386b8",
    "name": "Last payload (last_payload.txt)",
    "filename": "last_payload.txt",
    "appendNewline": false,
    "createDir": false,
    "overwriteFile": "true",
    "x": 710,
    "y": 400,
    "wires": []
  },
  {
    "id": "bf5005c4.001408",
    "type": "inject",
    "z": "5f0a96dd.f386b8",
    "name": "Turn off all",
    "topic": "",
    "payload": "{\"vol\":-70,\"dst\":[\"1\",\"2\",\"3\",\"4\",\"5\",\"6\",\"7\",\"8\",\"9\",\"10\",\"11\",\"12\",\"13\",\"14\"],\"src\":[\"1\",\"2\"]}",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 200,
    "y": 660,
    "wires": [
      [
        "7f05ad32.62ca04"
      ]
    ]
  },
  {
    "id": "7f05ad32.62ca04",
    "type": "change",
    "z": "5f0a96dd.f386b8",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "vol",
        "pt": "msg",
        "to": "payload.vol",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "src",
        "pt": "msg",
        "to": "payload.src",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "dst",
        "pt": "msg",
        "to": "payload.dst",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1100,
    "y": 660,
    "wires": [
      [
        "6a5f00ae.33c44",
        "b3beab4f.b867b8"
      ]
    ]
  },
  {
    "id": "1bc7cb38.2d3335",
    "type": "inject",
    "z": "5f0a96dd.f386b8",
    "name": "Fake -5 vol from src 1 and 2 to dst 1",
    "topic": "",
    "payload": "{\"vol\":-5,\"dst\":[\"1\"],\"src\":[\"1\",\"2\"]}",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 280,
    "y": 540,
    "wires": [
      [
        "46f78a77.4e6214"
      ]
    ]
  },
  {
    "id": "46f78a77.4e6214",
    "type": "file",
    "z": "5f0a96dd.f386b8",
    "name": "",
    "filename": "demostuff.txt",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "true",
    "x": 1310,
    "y": 540,
    "wires": []
  },
  {
    "id": "a66516f5.b6bf68",
    "type": "file in",
    "z": "5f0a96dd.f386b8",
    "name": "",
    "filename": "demostuff.txt",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "x": 650,
    "y": 600,
    "wires": [
      [
        "94708eb1.c75c3"
      ]
    ]
  },
  {
    "id": "73f4b3fc.59594c",
    "type": "inject",
    "z": "5f0a96dd.f386b8",
    "name": "Fake max volume from src 1 and 2 to dst 1",
    "topic": "",
    "payload": "{\"vol\":0,\"dst\":[\"1\"],\"src\":[\"1\",\"2\"]}",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 300,
    "y": 600,
    "wires": [
      [
        "a66516f5.b6bf68"
      ]
    ]
  },
  {
    "id": "b3beab4f.b867b8",
    "type": "debug",
    "z": "5f0a96dd.f386b8",
    "name": "Manual test",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 1400,
    "y": 660,
    "wires": []
  },
  {
    "id": "94708eb1.c75c3",
    "type": "json",
    "z": "5f0a96dd.f386b8",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 850,
    "y": 620,
    "wires": [
      [
        "7f05ad32.62ca04",
        "79aabdec.47b714"
      ]
    ]
  },
  {
    "id": "79aabdec.47b714",
    "type": "function",
    "z": "5f0a96dd.f386b8",
    "name": "",
    "func": "var dst = msg.payload.dst[0];\ndst = String(parseInt(dst) + 1);\nmsg.payload.dst[0] = dst;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1100,
    "y": 620,
    "wires": [
      [
        "46f78a77.4e6214"
      ]
    ]
  },
  {
    "id": "3cf00129.295d8e",
    "type": "inject",
    "z": "5f0a96dd.f386b8",
    "name": "Init default state",
    "topic": "",
    "payload": "{\"1\":{\"1\":99,\"2\":99,\"3\":99,\"4\":99,\"5\":99,\"6\":99,\"7\":99,\"8\":99,\"9\":99,\"10\":99,\"11\":99,\"12\":99,\"13\":99,\"14\":99,\"15\":99,\"16\":99,\"17\":99,\"18\":99,\"19\":99,\"20\":99,\"21\":99,\"22\":99,\"23\":99,\"24\":99},\"2\":{\"1\":99,\"2\":99,\"3\":99,\"4\":99,\"5\":99,\"6\":99,\"7\":99,\"8\":99,\"9\":99,\"10\":99,\"11\":99,\"12\":99,\"13\":99,\"14\":99,\"15\":99,\"16\":99,\"17\":99,\"18\":99,\"19\":99,\"20\":99,\"21\":99,\"22\":99,\"23\":99,\"24\":99},\"3\":{\"1\":99,\"2\":99,\"3\":99,\"4\":99,\"5\":99,\"6\":99,\"7\":99,\"8\":99,\"9\":99,\"10\":99,\"11\":99,\"12\":99,\"13\":99,\"14\":99,\"15\":99,\"16\":99,\"17\":99,\"18\":99,\"19\":99,\"20\":99,\"21\":99,\"22\":99,\"23\":99,\"24\":99},\"4\":{\"1\":99,\"2\":99,\"3\":99,\"4\":99,\"5\":99,\"6\":99,\"7\":99,\"8\":99,\"9\":99,\"10\":99,\"11\":99,\"12\":99,\"13\":99,\"14\":99,\"15\":99,\"16\":99,\"17\":99,\"18\":99,\"19\":99,\"20\":99,\"21\":99,\"22\":99,\"23\":99,\"24\":99},\"5\":{\"1\":99,\"2\":99,\"3\":99,\"4\":99,\"5\":99,\"6\":99,\"7\":99,\"8\":99,\"9\":99,\"10\":99,\"11\":99,\"12\":99,\"13\":99,\"14\":99,\"15\":99,\"16\":99,\"17\":99,\"18\":99,\"19\":99,\"20\":99,\"21\":99,\"22\":99,\"23\":99,\"24\":99},\"6\":{\"1\":99,\"2\":99,\"3\":99,\"4\":99,\"5\":99,\"6\":99,\"7\":99,\"8\":99,\"9\":99,\"10\":99,\"11\":99,\"12\":99,\"13\":99,\"14\":99,\"15\":99,\"16\":99,\"17\":99,\"18\":99,\"19\":99,\"20\":99,\"21\":99,\"22\":99,\"23\":99,\"24\":99},\"7\":{\"1\":99,\"2\":99,\"3\":99,\"4\":99,\"5\":99,\"6\":99,\"7\":99,\"8\":99,\"9\":99,\"10\":99,\"11\":99,\"12\":99,\"13\":99,\"14\":99,\"15\":99,\"16\":99,\"17\":99,\"18\":99,\"19\":99,\"20\":99,\"21\":99,\"22\":99,\"23\":99,\"24\":99},\"8\":{\"1\":99,\"2\":99,\"3\":99,\"4\":99,\"5\":99,\"6\":99,\"7\":99,\"8\":99,\"9\":99,\"10\":99,\"11\":99,\"12\":99,\"13\":99,\"14\":99,\"15\":99,\"16\":99,\"17\":99,\"18\":99,\"19\":99,\"20\":99,\"21\":99,\"22\":99,\"23\":99,\"24\":99},\"9\":{\"1\":99,\"2\":99,\"3\":99,\"4\":99,\"5\":99,\"6\":99,\"7\":99,\"8\":99,\"9\":99,\"10\":99,\"11\":99,\"12\":99,\"13\":99,\"14\":99,\"15\":99,\"16\":99,\"17\":99,\"18\":99,\"19\":99,\"20\":99,\"21\":99,\"22\":99,\"23\":99,\"24\":99},\"10\":{\"1\":99,\"2\":99,\"3\":99,\"4\":99,\"5\":99,\"6\":99,\"7\":99,\"8\":99,\"9\":99,\"10\":99,\"11\":99,\"12\":99,\"13\":99,\"14\":99,\"15\":99,\"16\":99,\"17\":99,\"18\":99,\"19\":99,\"20\":99,\"21\":99,\"22\":99,\"23\":99,\"24\":99},\"11\":{\"1\":99,\"2\":99,\"3\":99,\"4\":99,\"5\":99,\"6\":99,\"7\":99,\"8\":99,\"9\":99,\"10\":99,\"11\":99,\"12\":99,\"13\":99,\"14\":99,\"15\":99,\"16\":99,\"17\":99,\"18\":99,\"19\":99,\"20\":99,\"21\":99,\"22\":99,\"23\":99,\"24\":99},\"12\":{\"1\":99,\"2\":99,\"3\":99,\"4\":99,\"5\":99,\"6\":99,\"7\":99,\"8\":99,\"9\":99,\"10\":99,\"11\":99,\"12\":99,\"13\":99,\"14\":99,\"15\":99,\"16\":99,\"17\":99,\"18\":99,\"19\":99,\"20\":99,\"21\":99,\"22\":99,\"23\":99,\"24\":99},\"13\":{\"1\":99,\"2\":99,\"3\":99,\"4\":99,\"5\":99,\"6\":99,\"7\":99,\"8\":99,\"9\":99,\"10\":99,\"11\":99,\"12\":99,\"13\":99,\"14\":99,\"15\":99,\"16\":99,\"17\":99,\"18\":99,\"19\":99,\"20\":99,\"21\":99,\"22\":99,\"23\":99,\"24\":99},\"14\":{\"1\":99,\"2\":99,\"3\":99,\"4\":99,\"5\":99,\"6\":99,\"7\":99,\"8\":99,\"9\":99,\"10\":99,\"11\":99,\"12\":99,\"13\":99,\"14\":99,\"15\":99,\"16\":99,\"17\":99,\"18\":99,\"19\":99,\"20\":99,\"21\":99,\"22\":99,\"23\":99,\"24\":99},\"15\":{\"1\":99,\"2\":99,\"3\":99,\"4\":99,\"5\":99,\"6\":99,\"7\":99,\"8\":99,\"9\":99,\"10\":99,\"11\":99,\"12\":99,\"13\":99,\"14\":99,\"15\":99,\"16\":99,\"17\":99,\"18\":99,\"19\":99,\"20\":99,\"21\":99,\"22\":99,\"23\":99,\"24\":99},\"16\":{\"1\":99,\"2\":99,\"3\":99,\"4\":99,\"5\":99,\"6\":99,\"7\":99,\"8\":99,\"9\":99,\"10\":99,\"11\":99,\"12\":99,\"13\":99,\"14\":99,\"15\":99,\"16\":99,\"17\":99,\"18\":99,\"19\":99,\"20\":99,\"21\":99,\"22\":99,\"23\":99,\"24\":99}}",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 220,
    "y": 460,
    "wires": [
      [
        "90766123.2191c"
      ]
    ]
  },
  {
    "id": "90766123.2191c",
    "type": "file",
    "z": "5f0a96dd.f386b8",
    "name": "Default state file (test2.txt)",
    "filename": "test2.txt",
    "appendNewline": false,
    "createDir": false,
    "overwriteFile": "true",
    "x": 690,
    "y": 460,
    "wires": []
  },
  {
    "id": "806e4eb3.125fb",
    "type": "knx-controller",
    "z": "",
    "name": "logicmachine",
    "host": "192.168.12.158",
    "port": "3671",
    "mode": "tunnel/unicast"
  },
  {
    "id": "bf7c555a.21e798",
    "type": "mqtt-broker",
    "z": "",
    "name": "NodeRed",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  }
]